<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Add a comment</h3>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="comment">Comment Here</label>
          <textarea class="form-control" rows="3" ng-model="comment"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="postComment(comment)">Post Comment</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
